.debug {
  background-color: pink;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.custom-pos {
  width: 300px;
  height: 100px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.display-contents {
  display: contents;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}
