.debug {
  background-color: pink;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.custom-pos {
  width: 300px;
  height: 100px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-min {
  height: min-content;
}

.h-max {
  height: max-content;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.contents {
  display: contents;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.w-1\/2 {
  width: 50%;
}

.w-0 {
  width: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.h-custom {
  height: 100px;
}

.actions {
  right: 0px;
}

.action {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item {
  left: 0;
}
